# Ignore build output directories
/bin/
/obj/

# Ignore user-specific files
.vscode/
.vs/
*.user
*.suo
*.env

# Ignore temporary files
*.tmp
*.log

# Ignore chat log file
chat_log.txt

# Ignore Rider specific directories
.idea/

# Ignore Node.js modules and other environment files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore environment-specific files
.DS_Store
Thumbs.db

# Ignore compiled output files
*.dll
*.exe
*.so
*.dylib
*.pdb

# Ignore coverage files
coverage/
*.lcov

# Ignore build artifacts
build/
dist/
tmp/
temp/
/chat_log.db
/chat_log.db
/chat_log.txt
/.venv
/character_context_server
/Servers/data/backupOP.mjs
/Servers/Servers.zip
/install_server.bat
/main.py
/Mods - Shortcut.lnk
/ReadyServer.bat
/requirements.txt
/TEST.bat
